USE [AlphaCinema]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[ma_danh_gia] [int] IDENTITY(1,1) NOT NULL,
	[ma_phim] [int] NOT NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[noi_dung] [nvarchar](max) NULL,
	[diem_so] [int] NOT NULL,
	[ngay_tao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[ma_danh_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoAnVat]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAnVat](
	[ma_do_an_vat] [int] IDENTITY(1,1) NOT NULL,
	[ten_mon] [nvarchar](200) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[gia] [decimal](18, 2) NOT NULL,
	[hinh_anh] [nvarchar](500) NULL,
	[loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_do_an_vat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[ma_ghe] [int] IDENTITY(1,1) NOT NULL,
	[ma_phong] [int] NOT NULL,
	[hang] [char](1) NOT NULL,
	[so_ghe] [int] NOT NULL,
	[loai_ghe] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[ma_ghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ma_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_khuyen_mai] [int] NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[tong_tien] [decimal](18, 2) NOT NULL,
	[phuong_thuc_thanh_toan] [nvarchar](50) NOT NULL,
	[ngay_giao_dich] [datetime2](7) NOT NULL,
	[ma_vao_cong] [nvarchar](50) NULL,
	[trang_thai] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDoAnVat]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDoAnVat](
	[ma_hoa_don_do_an_vat] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoa_don] [int] NOT NULL,
	[ma_do_an_vat] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don_do_an_vat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[ma_khuyen_mai] [int] IDENTITY(1,1) NOT NULL,
	[ten_khuyen_mai] [nvarchar](255) NOT NULL,
	[ma_code_giam_gia] [nvarchar](50) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ngay_bat_dau] [date] NOT NULL,
	[ngay_ket_thuc] [date] NOT NULL,
	[loai_giam_gia] [nvarchar](50) NOT NULL,
	[gia_tri_giam] [decimal](18, 2) NOT NULL,
	[giam_toi_da] [decimal](18, 2) NULL,
	[don_hang_toi_thieu] [decimal](18, 2) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[ma_khuyen_mai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ma_nguoi_dung] [int] IDENTITY(1,1) NOT NULL,
	[ma_vai_tro] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[diem_tich_luy] [int] NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[ma_phim] [int] IDENTITY(1,1) NOT NULL,
	[ten_phim] [nvarchar](255) NOT NULL,
	[the_loai] [nvarchar](100) NOT NULL,
	[thoi_luong] [int] NOT NULL,
	[poster] [nvarchar](255) NULL,
	[tom_tat] [nvarchar](max) NULL,
	[trang_thai_phim] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[ma_phim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[ma_phong] [int] IDENTITY(1,1) NOT NULL,
	[ten_phong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PhongChieu] PRIMARY KEY CLUSTERED 
(
	[ma_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[ma_suat_chieu] [int] IDENTITY(1,1) NOT NULL,
	[ma_phong] [int] NOT NULL,
	[ma_phim] [int] NOT NULL,
	[thoi_gian_bat_dau] [datetime2](7) NOT NULL,
	[dinh_dang] [nvarchar](10) NOT NULL,
	[gia_ve_goc] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SuatChieu] PRIMARY KEY CLUSTERED 
(
	[ma_suat_chieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[ma_vai_tro] [int] IDENTITY(1,1) NOT NULL,
	[ten_vai_tro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ma_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 4/3/2026 10:28:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[ma_ve] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoa_don] [int] NOT NULL,
	[ma_ghe] [int] NOT NULL,
	[ma_suat_chieu] [int] NOT NULL,
	[ma_qr] [nvarchar](255) NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[gia_ve] [decimal](18, 2) NOT NULL,
	[ma_vao_cong] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[ma_ve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngay_giao_dich]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [diem_tich_luy]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT (N'Sắp chiếu') FOR [trang_thai_phim]
GO
ALTER TABLE [dbo].[PhongChieu] ADD  DEFAULT ('2D') FOR [LoaiPhong]
GO
ALTER TABLE [dbo].[SuatChieu] ADD  DEFAULT ((0.0)) FOR [gia_ve_goc]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_NguoiDung_ma_nguoi_dung] FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[NguoiDung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_NguoiDung_ma_nguoi_dung]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Phim_ma_phim] FOREIGN KEY([ma_phim])
REFERENCES [dbo].[Phim] ([ma_phim])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Phim_ma_phim]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_PhongChieu_ma_phong] FOREIGN KEY([ma_phong])
REFERENCES [dbo].[PhongChieu] ([ma_phong])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_PhongChieu_ma_phong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhuyenMai_ma_khuyen_mai] FOREIGN KEY([ma_khuyen_mai])
REFERENCES [dbo].[KhuyenMai] ([ma_khuyen_mai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhuyenMai_ma_khuyen_mai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NguoiDung_ma_nguoi_dung] FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[NguoiDung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NguoiDung_ma_nguoi_dung]
GO
ALTER TABLE [dbo].[HoaDonDoAnVat]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDoAnVat_DoAnVat] FOREIGN KEY([ma_do_an_vat])
REFERENCES [dbo].[DoAnVat] ([ma_do_an_vat])
GO
ALTER TABLE [dbo].[HoaDonDoAnVat] CHECK CONSTRAINT [FK_HoaDonDoAnVat_DoAnVat]
GO
ALTER TABLE [dbo].[HoaDonDoAnVat]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDoAnVat_HoaDon] FOREIGN KEY([ma_hoa_don])
REFERENCES [dbo].[HoaDon] ([ma_hoa_don])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonDoAnVat] CHECK CONSTRAINT [FK_HoaDonDoAnVat_HoaDon]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro_ma_vai_tro] FOREIGN KEY([ma_vai_tro])
REFERENCES [dbo].[VaiTro] ([ma_vai_tro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro_ma_vai_tro]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phim_ma_phim] FOREIGN KEY([ma_phim])
REFERENCES [dbo].[Phim] ([ma_phim])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Phim_ma_phim]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_PhongChieu_ma_phong] FOREIGN KEY([ma_phong])
REFERENCES [dbo].[PhongChieu] ([ma_phong])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_PhongChieu_ma_phong]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe_ma_ghe] FOREIGN KEY([ma_ghe])
REFERENCES [dbo].[Ghe] ([ma_ghe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe_ma_ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_HoaDon_ma_hoa_don] FOREIGN KEY([ma_hoa_don])
REFERENCES [dbo].[HoaDon] ([ma_hoa_don])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_HoaDon_ma_hoa_don]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuatChieu_ma_suat_chieu] FOREIGN KEY([ma_suat_chieu])
REFERENCES [dbo].[SuatChieu] ([ma_suat_chieu])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuatChieu_ma_suat_chieu]
GO
